


body {

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.page {
    min-height: 100vh;
}

#page1
{

    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;


}

h1{
    
    font-size: 5rem !important;
}



.card-container 
{
    display: grid;
    grid-gap: 1rem;;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    
}

.skill-card{
    box-shadow: 2px 2px 6px #ccc;
    height: 150px;
    width: 150px;
    text-align: center;
    margin:auto;
    border-radius: 1rem !important;

}

.skill-card:hover
{
    cursor: pointer;
   
    border: 3px solid blueviolet;
}


.chosen {

    border: 3px solid blueviolet !important;
}

#skillText
{
    color: darkgreen;
}

.job-text{
    text-align: left;
    font-size: 1rem;
}


.card-container-other 
{
    display: grid;
    grid-gap: 1rem;;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    
}

.other-card{
    box-shadow: 2px 2px 6px #ccc;
    height: 300px;
    width: 300px;
    text-align: center;
    margin:auto;
    border-radius: 1rem !important;
    display: block !important;
    overflow: hidden;

}

.other-card-img
{
    width: 200px;
   
}

.other-card:hover
{
    cursor: pointer;
   
    border: 3px solid blueviolet;
}

.expand
{
    transition: all 1s;
    height: 500px;
}

.hide
{
    transition: all 1s;
    display: none;
}

.other-skills-text{
    text-align: left;
}


#page2{
    background-color: #ffffe6;
}

#page4{
    background: #ffffe6;
    opacity: 0.5;
}

.personal-card{
    box-shadow: 2px 2px 6px #ccc;
    background: black !important;
    height: 300px;
    width: 300px;
    text-align: center;
    margin:auto;
    border-radius: 1rem !important;
    display: block !important;
    overflow: hidden;

}

.fitness {
    color: yellow !important
}

.cover{
    transition: all 0.5s;
    margin-left: -1.25rem;
    position: absolute;
}
.cover:hover{
  
    height: 0px;
    
    padding: 0px;
    display: none
}


.travel {
    color: pink !important
}


.writing {
    color: lightgreen !important
}

