body {
  height:100%;
  width:100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width:100%
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.about-div-80{
  position: relative;
  height: 40%;
  border: 1px solid blue
  
  
}
.about-div-40{
  display: block;
  height: 50% ;
 
  
  
}
.par-div{
  position: absolute;
  height: 100%;
  width: 100%;
  


 
}
.about-img{
  width: 100%;
}

img{
  max-width: 100%;
  max-height: 100%;

}
.abs-txt{
  position: absolute;
  font-size: 7.5vw;
  font-family: Arial, Helvetica, sans-serif;
 
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 10%;
  
  vertical-align: middle;
   /* Adjust this value to move the positioned div up and down */
  text-align: center;
  /* width: 60%; Set the width of the positioned div */
}

.strokeme {
  color: #FFFFF0;
  

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.div-margin{
 margin-top: 50px;
}

.grid{
  display: grid;
  /* grid-gap: 20px; */
  margin:20px;
  grid-template-columns: repeat(auto-fill,200px); 
  grid-gap:5px;
  
	/* grid-template-columns: minmax(250px,0.5fr) 0.5fr; */
  grid-template-rows: 1fr 1fr;
 

  

}

.grid-grid{
  display: grid;
  /* grid-gap: 20px; */
  margin:20px;
	grid-template-columns: repeat(auto-fill,minmax(250px,500px));
	/* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr */
 

  

}



.grid-exp{
  display: grid;
  /* grid-gap: 20px; */
  margin:20px;
	grid-template-columns: repeat(auto-fill,minmax(250px,500px));
	/* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr */
 

  

}


.service{

padding: 2px;

border-radius: 5px;
display: inline-block;

  

}

.icon {
  margin-right: 10px,
}

.heroContent {
  
  padding: 10px;
}

.heroButtons {
  margin-top: 10px
}
.cardGrid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  height: '100%';
  display: 'flex';
  flex-direction: 'column'
}

.cardMedia {
  padding-top: '56.25%'
}

.cardContent {
  flex-grow: 1
}

.footer {
 
  padding: 10px
}
.TopMenu li{
  display: inline;
  list-style: none;
  padding: 1.3em;
  
}

.Banner{
  height: 100vh;
  text-align: center;


}

.home-title{
  font-size: 7vh;
  position: absolute;
  top:13%;
  left: 3%;
  color: ivory;
  letter-spacing: 13px;

}

.h-100{
  height:100vh;
  background-color: yellow;
  background-size: 'auto 100%'
}

.projects-back{
  background-color: black;
  color: #FFFFF0;
}

.nav-port{
  width:50%;
  font-size: x-large;

}

.skill{
 width:50px;
 height: 100px;

}


.desc{
  color: #FFFFF0;
  margin-top:50px;
 
 
}

.custom-card{
  background-color: aliceblue;
  padding: 1.25rem;
  border-radius: 5px;
}

.custom-card:hover{
  cursor: pointer;
}
.custom-exp{
  background-color: aliceblue;
  padding: 1.25rem;
  border-radius: 5px;
  width:200px;
  height:250px
}

.custom-exp:hover{
  cursor: pointer;
}

.title-card{
  background-color: aliceblue;
  padding: 1.25rem;
  border-radius: 5px;
  width: 200px;
}



.wrapper {
  display: grid;
  height:100vh;
  grid-template-columns:  0.5fr 1fr 2fr 1fr;
  grid-gap: 1em;
  grid-template-rows:0.3fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav box1 box1 box1"
    "nav box2 box2 box2" 
    "nav box3 box4 box5" 
    "nav box6 box6 box6" 
 

  
}
@media only screen and (max-width:550px){

  .wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,1fr);
    grid-template-areas:
      "nav"
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6";

    
  }

}
.nav{
  grid-area:nav

}

.box1{
  grid-area:box1
}
.box2{
  grid-area:box2
}
.box3{
  grid-area:box3
}
.box4{
  grid-area:box4
}
.box5{
  grid-area:box5
}
.box6{
  grid-area:box6
}

.text{
  color: #FFFFF0;
  font-size: large;
  
}

.bi-question-circle-fill:hover{
  cursor: pointer;
}

.wrapper > div {

  background: lightgrey ;
  padding: 2px
}

.wrapper >div:nth-child(odd){
  background: white;
}

.grid-about{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap:20px;
  margin:10px;


 

  
}



section{
  max-wdith: 57%;
  margin: auto;
  text-align:center;
}
.wrapper{
  height: 100vh;
  display: flex;
  align-items:center;
  background-color: #fff;
  
}
.video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  overflow: hidden;
}
.video-wrap video{
  min-width: 100%;
  min-height: 100%;

}
.overlay{
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2d3e50;
  position: absolute;
  opacity: 0.7;
  

}
.landing-text{



}

.wrapper-2{
  height: 100vh;


}




.card-body{
  color:black;
}

.projects-title{
  color: black;
}

.card-thumb:hover {

  cursor: pointer;
  transform: scale(1.1) ;
 
}

.grid-projects{
  display: grid;
  /* grid-gap: 20px; */
  margin:20px;
  grid-template-columns: repeat(auto-fill,200px); 
  grid-gap:20px;
  
	/* grid-template-columns: minmax(250px,0.5fr) 0.5fr; */
  grid-template-rows: 1fr 1fr;
 

  

}


.modal-dialog {
  max-width: none !important;
  padding: 6rem;

 
}

.modal-img{
  height: 70% !important;
  width: 100%;

}

.title-style{
  font-size: 7vh;
  padding: 20px;
  color: black;
  letter-spacing: 2px;
}

.panel{
  width: 100%;
  margin:20px 0px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; 
  border-radius: 5px;

  
}

.panel > div{
  font-weight: 500;
  font-size: x-large;
  
  
}

.testimonail-img{
  width:125px ;
  
  border-radius: 4px;
}

.video-container{
  position: relative;

 
 
 
}

.gails-title { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(10vw + 5vh);
  left: 0;
  z-index: 10;
  font-size: 20vw;
  color: #D02030;
  -webkit-text-stroke: 0.5vw white;
}
  
.video{

  padding:5px;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;

}

.cover{
  width:100%;
  height: 100%;
  background-color: blue;

}
.bg-dark{
  background-color: #D02030 !important;
}


.carousel-text{

  -webkit-text-stroke: 2px black;
  color: white;

}